@page
@model Learning.Pages.Users.IndexModel
@{
}
<br />
<h2>Admin page</h2>
<p>Welcome</p>
<!--<a class='btn btn-primary btn-sm' href='/Users/Insert'>Req new user</a>-->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Data req</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach( var i in Model.listUsers)
        {
            <tr>
                <td>@i.id</td>
                <td>@i.username</td>
                <td>@i.passwordd</td>
                <td>@i.fullname</td>
                <td>@i.email</td>
                <td>@i.phone</td>
                <td>@i.data_time</td>
                <td>
                    <a href="/Users/Email?email=@i.email">Email</a>
                    <a href="/Users/Delete?id=@i.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>